{% extends 'msahome/base.html' %}
{% load static %}
{% block content %}
<head>

</head>
<body>


       <br><br>
       <br>
            <p class ="a"> <b>Missouri Sports Academy is a nonprofit organization focused on coordinating the school soccer meets and tournaments in the state of Missouri.
                It has youth soccer club for all levels of play from 4 to 19 years of age.</b>
           </p>

       <br>
       <h3 style="color: black" class="top-menu"><b>Missouri Sports Academy Vision.</b></h3>
           <p class="a">Cultivating a passion for the game while developing characters in players.
           </p>
       <br>

           <h3 style="color: black" class="top-menu"><b>Missouri Sports Academy Core Value</h3>
           <p class="a"><b>Missouri Sports Academy’s core values are integrity, leadership, discipline, accountability, honesty
           </b></p>
       <br>

       </div>

   </body>
{% endblock %}