<!DOCTYPE html>
{% extends 'msahome/base.html' %}
{% block content %}
    <body>

    <div class="row">
        <h2 style="padding-left: 15Px">Matches Information</h2>

     </div>
    <br>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Match ID</th>
                <th>Home Team</th>
                <th>Guest Team</th>
                <th>Field</th>
                <th>Start Time</th>
                <th>Date</th>
                <th>Referee Name</th>
                <th>Home Team Score</th>
                <th>Guest Team Score</th>
                <th>Referee Comments</th>

            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.match_ID }}</td>
                    <td>{{ match.home_team_ID }}</td>
                    <td>{{ match.guest_team_ID }}</td>
                    <td>{{ match.field_name }}</td>
                    <td>{{ match.time }}</td>
                    <td>{{ match.date }}</td>
                    <td>{{ match.match_referee_ID }}</td>
                    <td>{{ match.home_team_score }}</td>
                    <td>{{ match.guest_team_score }}</td>
                    <td>{{ match.referee_comment }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if matches.has_other_pages %}
  <ul class="pagination">
    {% if matches.has_previous %}
      <li><a href="?page={{ matches.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in matches.paginator.page_range %}
      {% if matches.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if matches.has_next %}
      <li><a href="?page={{ matches.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    </div>


    </body>
{% endblock %}