<!DOCTYPE html>
{% extends 'msahome/base.html' %}
{% block content %}
    <body>

    <div class="row">
        <h2 style="padding-left: 15Px">Team List:</h2>

     </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">

                <th>Team Name</th>
                <th>Coach</th>
            </tr>
            </thead>
            <tbody>
            {% for x in teams %}
                <tr>

                    <td><a href = "{% url 'players_list' pk=x.team_ID %}">{{ x.team_name }}</a></td>
                    <td>{{ x.team_coach  }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    </body>
{% endblock %}
