<!DOCTYPE html>

<html lang="en">
{% extends 'msahome/base.html' %}
{% block content %}

<body>

<div class="row">
    <h2 style="padding-left: 15Px">Tournament Information</h2>
    </div>

    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Tournament Name</th>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Product Description</th>
                <th>Quantity</th>
                <th>Pick up Time</th>
                <th>Charge</th>
            </tr>
            </thead>
            <tbody>
            {% for x in tournaments %}
                <tr>
                    <td><a href="{% url 'matches_list' pk=x.tournament_ID%}">{{ x.tournament_name }}</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</body>

{% endblock %}

</html>
