<!doctype html>
<html lang="en">
{% extends 'msahome/base.html' %}

{% block content %}
<head>
    <title>Login</title>
    <style>
        h1 {
          text-align: center;
            font-weight: bold;
        }
        form {
           margin-bottom: 75px;
            text-align: center;
            position: relative;
            margin-right: 24%;
        }
    </style>
</head>
<body>
    <h1>Log In</h1>
        <br>
        <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class=" btn btn-primary" type="submit" value="submit">
            Log In</button>
    </form>
</body>

{% endblock  %}
</html>
