<!DOCTYPE html>
<html lang="en">
{% extends 'msahome/base.html' %}
{% block title %}Change your password{% endblock %}

{% block content %}
<head>
    <title>Change Your Password</title>
</head>
<body>
 <div style="position: relative; z-index: 9999">
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form action = "." method="post" >
        {{ form.as_p }}
        <p><input type="submit" value="Submit"></p>
        {% csrf_token %}
    </form>
 </div>
</body>
{% endblock %}



</html>